<!-- app/views/events/show.html.erb -->
<% assign_meta_tags title: @event.event_name, image: @event.course_photos.first.image_url if @event.course_photos.any? %>
<% timestamp = Time.now.to_i %>
<% share_url = "#{event_url(@event)}?t=#{timestamp}" %>
<% share_text = "#{@event.event_name} 結果\n#ミニ四駆 #MINI4NOTE" %>

<div class="flex items-center space-x-4">
  <h1 class="text-5xl font-bold text-gray-700"><%= @event.event_name %></h1>

  <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape(share_text) %>&url=<%= CGI.escape(share_url) %>" 
     target="_blank" rel="noopener noreferrer">
    <img src="<%= asset_path('x.svg') %>" alt="Xでシェア" class="w-8 h-8 md:w-5 md:h-5 hover:opacity-70">
  </a>

  <% if user_signed_in? %>
    <% if current_user.bookmarks.exists?(event: @event) %>
      <%= button_to event_bookmark_path(@event), method: :delete, class: "p-2 rounded-full text-yellow-500 hover:text-yellow-600" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
        </svg>
      <% end %>
    <% else %>
      <%= button_to event_bookmark_path(@event), method: :post, class: "p-2 rounded-full text-gray-500 hover:text-yellow-500" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
        </svg>
      <% end %>
    <% end %>
  <% end %>

</div>

<div class="mb-6 mt-4 space-y-2">
  <p>日付: <%= @event.date %></p>
  <p>天気: <%= @event.weather %></p>
  <p>会場温度: <%= @event.temperature %>℃</p>
  <p>会場: <%= @event.venue %></p>
  <p>コメント: <%= @event.coment %></p>
</div>

<h2 class="text-2xl font-semibold mb-4 border-t border-gray-400 pt-4">ラップタイム</h2>

<ul class="mb-6 mt-4 space-y-2">
  <% @event.race_times.each do |time| %>
    <% if time.rap_time.present? %>
      <li>ラップタイム: <%= time.rap_time.round(2) %> s</li>
    <% end %>
    <% if time.course_length.present? %>
      <li>コース全長: <%= time.course_length.round(2) %> m</li>
    <% end %>
  <% end%>
</ul>

<h3 class="text-2xl font-semibold  mb-4 border-t border-gray-400 pt-4">コース写真</h3>
<div class="grid grid-cols-3 gap-4">
  <% @event.course_photos.each do |photo| %>
    <div class="w-full">
      <%= image_tag photo.image_url.url, class: "rounded shadow-lg" if photo.image_url.present? %>
    </div>
  <% end %>
</div>


<h2 class="text-2xl font-semibold mt-6 mb-4 border-t border-gray-400 pt-4">マシン情報</h2>
<% @event.machines.each do |machine| %>
  <div class="mb-6 rounded-lg">
    <h3 class="text-xl font-semibold">マシン名: <%= machine.machine_name %></h3>
    
    <div class="mb-6 mt-4 space-y-2">  
      <p>モーター: <%= I18n.t("activerecord.attributes.machine.motor.#{machine.motor}") %></p>
      <p>ギア比: <%= I18n.t("activerecord.attributes.machine.gear_ratio.#{machine.gear_ratio}") %></p>
      <p>ボディ: <%= machine.body %></p>
      <p>シャーシ: <%= I18n.t("activerecord.attributes.machine.frame.#{machine.frame}") %></p>
      <p>タイヤ径: <%= machine.tire_diameter %> mm</p>
      <p>タイヤ種: <%= machine.tire_type %></p>
      
      <% if @event.user == current_user %>
        <p>電圧: <%= machine.voltage.present? ? format('%.2f', machine.voltage) : '未登録' %> V</p>
        <p>時速: <%= machine.speed %> km/h</p>
        <p>メモ: <%= machine.other_comments %></p>
      <% end %>
    </div>  

    <% if @event.user == current_user %>
      <h4 class="text-2xl font-semibold  mb-4 border-t border-gray-400 pt-4">マシン写真</h4>
      <div class="grid grid-cols-3 gap-4">
        <% machine.machine_photos.each do |photo| %>
          <div class="w-full">
            <%= image_tag photo.image_url.url, class: "rounded shadow-lg" if photo.image_url.present? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="flex flex-wrap gap-2 mt-4">
  <% @event.tags.each do |tag| %>
    <%= link_to "# #{tag.name}", events_path(tag: tag.name), class: "px-3 py-1 bg-orange-500 hover:bg-orange-300 text-white rounded-full text-sm shadow" %>
  <% end %>
</div>

<% if @event.link.present? %>
  <ul class="mb-6 mt-4 list-none pl-0">
    <% if @event.links.any? %>
      <% @event.links.each do |url| %>
        <li class="flex items-center space-x-2"> 
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
          </svg>
          <%= link_to url, url, target: "_blank", rel: "noopener noreferrer", class: "text-blue-500 hover:underline" %>
        </li>
      <% end %>
    <% else %>
      <li class="text-gray-500">リンクなし</li>
    <% end %>
  </ul>
<% end %>




<% if @event.user == current_user %>
  <%= link_to '編集', edit_event_path(@event), class: 'btn bg-blue-500 text-white hover:bg-blue-400 ' %>
  <%= link_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn bg-pink-500 text-white hover:bg-pink-400' %>
<% end %>
<%= link_to "戻る", events_path, class: "btn btn-outline mt-6" %>
